

.section__title {
    text-align: center;
    margin-bottom: 40px;
}

.section__button {
    background-color: transparent;
    border: 2px solid white;
    color: white;
    font-weight: 700;
    padding: 10px 20px;
    cursor: pointer;
    outline: 2px solid transparent;
    outline-offset: 3px;
    transition: background-color .2s ease-in-out, color .2s ease-in-out;
}

.section__button:hover {
    background-color: #fff;
    color: #000;
}

.section__button:focus-visible {
    outline-color: yellow;
}

.modal {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    padding: 30px;
    overflow-y: auto;
    display: none;
}

.modal__main {
    position: relative;
    max-width: 700px;
    background-color: #fff;
    margin: auto;
    color: #000;
    border-radius: 16px;
    padding: 30px 60px 60px;
    cursor: default;
}

.modal__title {
    font-size: 60px;
    margin-bottom: 30px;
}

.modal__container {
    font-size: 30px;
    margin-bottom: 30px;
}

.modal__btn {
    background-color: red;
    color: #fff;
    font-size: 26px;
    text-align: center;
    display: block;
    margin: 0 auto;
    border-radius: 20px;
    border: none;
    padding: 15px 30px;
}

.modal__close {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 22px;
    position: absolute;
    top: 10px;
    right: 10px;
    outline: 1px solid transparent;
    outline-offset: 3px;
    transition: outline-color .15s ease-in-out;
    border-radius: 3px;
    padding: 0;
    text-align: center;
    display: block;
    width: 30px;
    height: 30px;
}

.modal__close:focus-visible {
    outline-color: green;
}


.form {
    display: inline-block;
    padding: 25px;
    width: 500px;
}

.form__field {
    margin-bottom: 10px;
}

.form__error {
    color: red;
    text-align: left;
    font-size: 12px;
    display: block;
    margin-top: 3px;
    display: none;
}

.form input {
    outline: none;
    display: block;
    width: 100%;
    border-radius: 2px;
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
}

.form button {
    width: 100%;
    padding: 10px;
    border-radius: 2px;
    border: 0;
    background-color: #ccc;
    color: #fff;
}

input:valid:not(:placeholder-shown) {
    border-color: green;
}

input:invalid:not(:placeholder-shown) {
    border-color: red;
}
input:invalid:not(:placeholder-shown) + .form__error {
    display: block;
}
select {
     position: relative;
     width: 250px;
     -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;
     background: #111;
     color: #999;
     border: none;
     outline: none;
     font-size: 14px;
     padding: 10px 9px;
     margin: 0;
     -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
     border-radius: 3px;
     cursor: pointer;
     height: 38px;
 }


